In [1]:
import pandas as pd
import os as os

#Variables
ID = 'NaN'
Size = 'NaN'
Length = 'NaN'
Width = 'NaN'
Fersenbreite = 'NaN'
D1_L1 = 'NaN'
D2_L1 = 'NaN'
D3_L1 = 'NaN'
D4_L1 = 'NaN'
D5_L1 = 'NaN'
D1_L2 = 'NaN'
D2_L2 = 'NaN'
D3_L2 = 'NaN'
D4_L2 = 'NaN'
D5_L2 = 'NaN'

In [10]:
#Analyze all Pictures
#Initilaize Folder with Footscans
listOfAllFiles = os.listdir(path = "C:\\Users\\Fabian\\Desktop\\GIThub\\AnalyzingFootData")
                            # F:\\Dropbox\\ADICS\\22_Grundlagenentwicklung\\Fu√üscans Orthotec")
listOfAllScans = []
for scans in listOfAllFiles:
    if scans.endswith(".JPG"):
        listOfAllScans.append(scans)
print (listOfAllScans)


#Creates Dataframe with Columns
df = pd.DataFrame(columns=['ID','Size', 'Length','Width','Fersenbreite',
                           'D1_L1','D2_L1','D3_L1','D4_L1','D5_L1',
                           'D1_L2','D2_L2','D3_L2','D4_L2','D5_L2'])

for scan in listOfAllScans:
    print(scan)
    ##########here could happen the imageprocessing?
    ID = scan.strip(".JPG")
    df = df.append({'ID': ID,'Size':Size, 'Length': Length,'Width': Width,'Fersenbreite': Fersenbreite,
                           'D1_L1': D1_L1,'D2_L1': D2_L1,'D3_L1': D3_L1,'D4_L1': D4_L1,'D5_L1': D5_L1,
                           'D1_L2': D1_L2,'D2_L2': D2_L2,'D3_L2': D3_L2,'D4_L2': D4_L2,'D5_L2': D5_L2},
                            ignore_index = True)  #Append data to DataFrame   

df

['20090313145121.JPG', '20090319102532.JPG', '20090323115358.JPG', '20090323115459.JPG', 'fg1_copy.JPG']
20090313145121.JPG
20090319102532.JPG
20090323115358.JPG
20090323115459.JPG
fg1_copy.JPG

,ID,Size,Length,Width,Fersenbreite,D1_L1,D2_L1,D3_L1,D4_L1,D5_L1,D1_L2,D2_L2,D3_L2,D4_L2,D5_L2
0,20090313145121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20090319102532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20090323115358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20090323115459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fg1_copy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN